<!DOCTYPE html>
<html>
<head>
    <title>HTML entrance</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">

</head>
<body>
<img src="static/NaPoti-3.png">
<header>
    <div>
        <h1 id="font1">Moja pošta</h1>
    </div>
</header>

<section>

    <div id="tryit">

        <div id="insert">
            <p>
                Ime:<br>
                <input type="text" name="Ime" value="Janez">
                <br>
                Priimek:<br>
                <input type="text" name="Priimek" value="Novak">
                <br><br>
                <input type="submit" value="Pošlji">

            </p>
        </div>

    </div>
</section>
</body>
</html>